<div class='container-fluid'>
  <div>
    <% if current_user && current_user == @job.user %>
    <%= link_to('Edit', edit_job_path, class: 'btn btn-primary pull-right') %>
    <% end %>
  </div>
  <h2><%= @job.title %></h2>
  <p><%= @job.content %></p>
</div>
