// Place all the styles related to the account::jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.panel ul li span{
  float: left;

}


.job_title {
  width: 30%;
}
.job_date{
  width: 30%;
}

.job_set1 > a.btn{
  display: inline;
}
