<div>
  <h2 class='text-center'>All Jobs</h2>
  <div class='row'>
    <%= link_to('Add a job', new_admin_job_path, class: 'btn btn-primary pull-right') %>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="job_status">状态</span>
          <span class="job_date">更新时间</span>
          <span class="job_title">职位名称</span>
          <span class="job_resume">简历投递</span>
          <span class="job_set">操作</span>
        </li>
        <%= render :partial => 'job_item', :collection => @jobs, :as => :job %>
      </ul>
    </div>
  </div>

</div>
