<footer class="container" style='margin-top: 50px; padding:20px'>
  <ul class="list-inline text-center">
    <li>
      <a href='#'>关于我</a>
    </li>
    <li>
      <a href='#'>全栈营</a>
    </li>
    <li>
      <a href='#'>新生大学</a>
    </li>
  </ul>
  <p class="text-center">现在，就是最好的开始!——Design by &copy;<a href='/'>mayjuan</a>
  </p>
  <p class="text-center text-muted">Icons made by
    <a href="http://www.freepik.com" title="Freepik">Freepik</a>
    from
    <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
    is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </p>

</footer>
