<footer class="container" style='margin-top: 50px; padding:50px'>
  <ul class="list-inline text-center">
    <li>
      <a href='#'>关于我</a>
    </li>
    <li>
      <a href='#'>全栈营</a>
    </li>
    <li>
      <a href='#'>新生大学</a>
    </li>
  </ul>
  <p class="text-center">现在，就是最好的开始!——Design by &copy;<a href='/'>mayjuan</a>
  </p>

</footer>
