<li class="list-group-item">
  <span class="job_title"><%= link_to(job.title, job_path(job))%>  </span>
  <span class="job_date"><%= job.updated_at %></span>
  <% if current_user.is_post_resume?(job) %>
  <span class="badge pull-left">已投递</span>
  <% else %>
  <span class="badge pull-left">未投递</span>
  <span class="job_set1">&nbsp;&nbsp;
    <%= link_to(new_job_resume_path(job), class: "btn btn-primary btn-sm") do %>
      <i class="fa fa-paper-plane"></i>&nbsp;投递简历
      <% end %></span>
  <% end %>


</li>
