<div class="innercontent">
  <div class="row">
    <p class="col-md-4">
      <i class="fa fa-arrow-left"></i><%= link_to(jobs_path, class: 'btn btn-link') do %>
      返回职位列表<% end %></p>
  </div>
  <h2>收藏的职位</h2>

  <div class="row">
    <div class="panel panel-default">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="job_date">更新时间</span>
          <span class="job_title">职位名称</span>
          <span class="job_resume">简历投递</span>
        </li>
        <%= render :partial => 'account/jobs/job_item', :collection => @jobs, :as => :job %>
      </ul>
    </div>
  </div>
  <div class="text-center">
    <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
  </div>
</div>
